<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Collection of Tears</title>
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1 class="display-4">Lágrimas </h1>
    </header>
   
    <div class="container mt-4">
        <h2>Cadastrar Lágrima</h2>
        <form id="cadastrar-form" action="" method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <input type="text" id="categoria" name="categoria" required>
            </div>
            <div class="form-group">
                <label for="autor">Autor:</label>
                <input type="text" id="autor" name="autor" required>
            </div>
            <button id="cadastrar-button" class="btn btn-primary" >Cadastrar</button>
            <a href="/">Voltar</a>
        </form>
    </div>
</body>
</html>

